.page-content {
    padding: 0px 100px;
}
.demo-list-control {
    width: 300px;
}
.boxChecked{
    text-decoration: line-through;
}
.mdl-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}