<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Einkaufsliste</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">



</head>
<body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Einkaufsliste</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
            <!--<a class="mdl-navigation__link" href="index.html">Einkaufliste</a>
            <a class="mdl-navigation__link" href="add.html">Hinzufügen</a> -->
            </nav>
        </div>
        </header>
        <main class="mdl-layout__content">
        <div class="page-content">
            <!-- Your content goes here -->
            <!--so bald Formular abgesendet wird, wird eine JS-Funktion namens "addShoppinglist" aufgerufen-->
            <form onsubmit="addShoppinglist(); return false">
                <!-- Artikelfeld -->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="shoppinglistfield">
                  <label class="mdl-textfield__label" for="shoppinglistfield">Artikel einfügen</label>
                </div>
                <!-- Mengenfeld -->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="amount_field">
                  <label class="mdl-textfield__label" for="amount_field">Menge einfügen</label>
                </div>
                <!-- Preisfeld -->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="price_field">
                  <label class="mdl-textfield__label" for="price_field">Preis einfügen</label>
                </div>

                <button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                    <i class="material-icons">add</i>
                </button>
            </form>
            <!--Liste-->
            <ul class="demo-list-control mdl-list" id="shoppinglist">
            </ul>
            <!--Lösch-Button-->
            <button class="mdl-button mdl-js-button mdl-button--accent" onclick="deletefunction()">
                Löschen
            </button>
        </div>
        </main>
    </div>

    <script src="{{ url_for('static', filename='script.js')}}"></script>
</body>
</html>